@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.sg-wrapper {
  width: 90%;
  margin-left:5%;
  margin-top:1%;
  box-shadow: 3px 3px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  position:absolute;
  background:white;
}
.signin {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.sg-img {
  width: 50%;
  height: 50%;
}
.sg-mainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sg-mainer > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-bottom:10%;
}
.sg-mainer > div > h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.sg-mainer > div > h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: -5%;
}
.sg-mainer > div > h3 > a {
  color: #0e51ff;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.sg-btn {
  border: none;
  background: #427EF7;
  color: white;
  width: 50%;
  font-size: 1.5rem;
  margin-left: 28%;
  margin-top: 2%;
  border-radius: 5px;
  transition: 0.6s ease;
  cursor: pointer;
  outline: none;
  text-shadow: 1px 1px 1px black;
  padding:0.8%;
}
.sg-btn:hover {
  box-shadow: 2px 2px 2px black;
}
.sg-flx
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:22%;
}
.sg-flx > a
{
    color: #0e51ff;
    cursor: pointer;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition:1s ease;
    letter-spacing: 2px;
    margin-bottom:5%;
}
.sg-flx > a:hover
{
    text-decoration:underline;
}
