@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.Ham-menu {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 2%;
  top: 2%;
  z-index: 10001;
  background: #2C5364;
  padding:1%;
  border-radius:4px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background: #FDFC47;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  margin: 6px 0;
}

.nav-menu {
  position: fixed;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  width: 30%;
  height: 100%;
  margin: auto;
  background-size: cover;
  z-index: 10000;
  font-family: "Montserrat", sans-serif;
}
.nav-menu ul {
  position: absolute;
  top: 10%;
  left: -8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
.nav-menu ul li {
  list-style: none;
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(76, 82, 82);
  transition: 0.4s ease-in-out;
  color: white;
  text-decoration-color: black;
}
.nav-menu ul li:hover {
  text-decoration: underline;
}
.circle1
{
  position:absolute;
  top:0%;
  z-index:10000000;
  left:0%;
  border: 10px solid white;
  border-radius:100%;
  width: 100px;
  height:100px;
}
.circle2
{
  position:absolute;
  top:4%;
  z-index:10000000;
  left:35%;
  border: 8px solid white;
  border-radius:100%;
  width: 30px;
  height:30px;
}
.circle3
{
  position:absolute;
  top:85%;
  z-index:10000000;
  left:75%;
  border: 10px solid white;
  border-radius:100%;
  width: 70px;
  height:70px;
}
