@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&display=swap');
.Ham-menu {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 2%;
  top: 2%;
  z-index: 10001;
  background: #2c5364;
  padding: 1%;
  border-radius: 4px;
}
.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 6px 0;
}
.nav-menu {
  position: fixed;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  width: 30%;
  height: 100%;
  margin: auto;
  background-size: cover;
  z-index: 10000;
  font-family: "Montserrat", sans-serif;
}
.nav-menu > ul {
  position: absolute;
  top: 10%;
  left: -8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
.nav-menu > ul li {
  list-style: none;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(76, 82, 82);
  transition: 0.4s ease-in-out;
  color: white;
  text-decoration-color: black;
}
.nav-menu > ul > li:hover {
  text-decoration: underline;
}
.circle1 {
  position: absolute;
  top: 0%;
  z-index: 10000000;
  left: 0%;
  border: 10px solid white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.circle2 {
  position: absolute;
  top: 4%;
  z-index: 10000000;
  left: 35%;
  border: 8px solid white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.circle3 {
  position: absolute;
  top: 85%;
  z-index: 10000000;
  left: 65%;
  border: 10px solid white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.loader {
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 100000;
}
.dsp_bx {
  position: fixed;
  background: rgba(20, 15, 15, 0.931);
  width: 40%;
  color: white;
  right: 3%;
  padding: 0.6%;
  border-radius: 5px;
  border: 4px solid rgb(238, 54, 54);
  z-index: 100101010;
}
.dsp_bx > h1 {
  font-size: 1.2rem;
  text-align: left;
  font-family: 'M PLUS 1', sans-serif;
  text-shadow: 0.2px 0.2px 0.2px white;
  font-weight: 400;
}

@media (max-width: 900px) {

  .nav-menu > ul {
    top: 15%;
    left: -15%;
  }

  .nav-menu > ul li {
    font-size: 1.8rem;
  }

  .circle1 {
    width: 90px;
    height: 90px;
  }

  .circle2 {
    width: 25px;
    height: 25px;
  }

  .circle3 {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 700px) {

  .nav-menu > ul {
    left: -24%;
  }

  .nav-menu > ul li {
    font-size: 1.4rem;
  }

  .circle1 {
    width: 60px;
    height: 60px;
  }

  .circle2 {
    width: 10px;
    height: 10px;
  }

  .circle3 {
    width: 40px;
    height: 40px;
  }
}
