.FriendsPage-main
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-self: center;
}
.search
{
    align-self: center;
    margin:10%;
    width:30%;
    font-size:1.5rem;
    padding-top:1%;
    padding-bottom:1%;
}
.friendWin
{
    margin-left:4%;
    display:grid;
    grid-template-columns: repeat(3,4fr);
    width:100%;
    grid-gap:2%;
}
.personCard
{
    display:flex;
    flex-direction:column;
    width:70%;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    font-size:0.6rem;
}
.personCard > a
{
    font-size:1.4rem;
    text-decoration: none;
    color:black;
}
.personCard > img
{
    width:50%;
    height:50%;
}
.choice-box
{
    display:flex;
    justify-content: center;
    align-items:center;
    background:yellow;
    border:2px solid black;
    margin-right:40%;
    margin-left:40%;
    margin-top:-5%;
    margin-bottom:5%;
    text-align:center;
    border-radius:10px;
}
.choice-box > h2
{
    margin-left:4%;
    cursor:pointer;
    border-radius:4px;
    padding:1%;
    margin-right:4%;
}