@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Luckiest+Guy&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.wrp-forp
{
    width:80%;
    margin-left:15%;
}
.wrapper_2
{
    width:50%;
    background:white;
    border:2px solid black;
    color:black;
    padding:4%;
    transform: translate(0%,15%);
    border-radius:3%;
    margin-left:14%;
}
.wrapper_2 h2
{
    font-size:1rem;
    margin-bottom: 10%;
    text-align:center;
    font-size:2rem;
    font-family: 'Sora', sans-serif;
    letter-spacing:4px;
    color:black;
}
.wrapper_2 .btn4
{
    border:none;
    font-family: "Roboto", sans-serif;
    color:white;
    width:40%;
    font-size:1.5rem;
    border-radius: 3px;
    margin-left: 30%;
    margin-top:2%;
    background:rgb(226, 12, 12);
    cursor:pointer;
    transition:0.5s ease-in-out;
    outline:none;
}
.wrapper_2 .btn4:hover
{
    box-shadow: 3px 3px 3px black;
}
.AuthS
{
    text-align:center;
    margin-top:3%;
    font-weight: Light;
    font-family: "Roboto", sans-serif;
}