@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
/* font-family: 'Satisfy', cursive;
font-family:'IBM Plex Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Rock Salt', cursive; */
.home-page
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.hp1
{
    display:flex;
    justify-content:space-between;
    width:100%;
}
.hp1 > h1
{
    font-size:3rem;
    margin-left:5%;
    font-family: 'Rock Salt', cursive;
    transform:rotate(-5deg);
}
.hp-btn1
{
    display:flex;
    width:100%;
    margin-left:40%;
}
.hp-btn1 > button:nth-child(1)
{
    transform:scale(1.7);
    margin-right:15%;
}
.hp-btn1 > button:nth-child(2)
{
    transform:scale(1.7);
}
.hp2
{
    display:flex;
    justify-content: left;
    align-items:left;
}
.hp2-1
{
    margin-top:5%;
    display:flex;
    flex-direction: column;
    justify-content:left;
    align-items:left;
    margin-left:10%;
}
.hp2 > .hp2-1 > h2
{
    font-size:3rem;
    width:100%;
    font-weight:bold;
    font-family: 'Libre Baskerville', serif;
}
.hp-debating
{
    width:50%;
    height:50%;
}
.hp3
{
    margin-top:5%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hp3 > h2
{
    width:30%;
    margin-left:4%;
    font-family: 'Libre Baskerville', serif;
    font-size:2.5rem;
}
.hp4
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:6%;
}
.hp4 > h2
{
    width:30%;
    margin-right:6%;
    font-family: 'Libre Baskerville', serif;
    font-size:2.5rem;
}
.hp-debating-1
{
    width:35%;
    height:35%;
}
.hp5
{
    margin-top:10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;    
}
.hp5 > h2
{
    width:100%;
    margin-right:6%;
    font-family: 'Libre Baskerville', serif;
    font-size:2.5rem;
}
.hp5 > .hp5-type
{
    background:gray;
    width:80%;
    border:2px solid black;
    font-size:2rem;
    color:white;
    border-radius:4px;
}
