@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&family=Open+Sans&display=swap");
/* font-family: 'Noto Sans Mono', monospace;
font-family: 'Open Sans', sans-serif; */
.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 1200px;
}
.feed_flx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed_1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 20%;
  padding: 1%;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 1%;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feed_1 > h2 {
  margin-top: -1%;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.usr_card {
  display: flex;
  margin-bottom: 1%;
  justify-content: left;
  align-items: left;
  width: 100%;
  font-family: "Noto Sans Mono", monospace;
}
.usr_card > h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 10px;
}
.pf_image1 {
  border: 2px solid black;
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 3%;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.pf_image1 > img {
  width: 60px;
  height: 60px;
}
.feed_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin-top: 6%;
  margin-left: 25%;
  margin-right: 25%;
}
.feed_card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-width: 680px;
  border-radius: 5px;
  padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.feed_card > h2 {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.feed_x1 {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.feed_x1 > h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 1%;
}
.usr_card1 {
  display: flex;
  font-family: "Noto Sans Mono", monospace;
}
.usr_card1 > img {
  width: 17%;
}
.feed_2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: absolute;
  top: 40%;
  width: 18%;
  border-radius: 5px;
  padding: 2%;
  right: 1%;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feed_2 > h2 {
  margin-top: -2%;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.usr_card2 {
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: "Noto Sans Mono", monospace;
  margin-bottom: 4%;
}
.usr_card2 > h1 {
  font-size: 1.5rem;
  margin-right: 4%;
}
.pf_image {
  border: 2px solid black;
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #89fffd,
    #ef32d9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 3%;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.pf_image > img {
  width: 60px;
  height: 60px;
}
.usr_card2 > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.feed_end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.feed_end > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed_end > div > img {
  width: 15%;
}
.feed_bar1 {
  width: 800px;
  height: 6px;
  background: grey;
  margin-right: 5%;
}
.feed_bar2 {
  width: 800px;
  height: 6px;
  background: grey;
  margin-left: 5%;
}
.feed_end > h1 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 4px;
}
.feed_end > h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.pf_image_fd {
  border: 2px solid black;
  background: rgb(248, 248, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 5%;
  border-radius: 50px;
  width: 75px;
  height: 70px;
}
.pf_image_fd > img {
  width: 70px;
  height: 70px;
}
.home_title {
  position: absolute;
  top: -1%;
  left: 2%;
  font-size: 2.6rem;
  letter-spacing: 3px;
  font-weight: bold;
}
.feed_btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  right: 6%;
  width: 15%;
}
.feed_post_btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #5dc185;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(59, 93, 50, 0.1) 0 0 0 1px inset,
    rgba(55, 93, 50, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.feed_post_btn:disabled {
  cursor: default;
}
.feed_post_btn:focus {
  box-shadow: rgba(50, 93, 50, 0.1) 0 0 0 1px inset,
    rgba(52, 93, 50, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 211, 58, 0.3) 0 0 0 4px;
}
.feed_post_btn1 {
  appearance: button;
  backface-visibility: hidden;
  background-color: royalblue;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(51, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 58, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.feed_post_btn1:disabled {
  cursor: default;
}
.feed_post_btn1:focus {
  box-shadow: rgba(50, 53, 93, 0.1) 0 0 0 1px inset,
    rgba(51, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(53, 50, 211, 0.3) 0 0 0 4px;
}
.feed_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}
.feed_empty > img {
  width: 80%;
}
.feed_empty > h2 {
  font-size: 3.6rem;
  font-weight: 600;
  width: 1200px;
  text-align: center;
}
.feed_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 400px;
  position: fixed;
  top: 15%;
  border: 2px solid black;
  border-radius: 5px;
  background: whitesmoke;
  z-index: 1001010;
}
.feed_post > h1 {
  font-size: 2rem;
  font-weight: 400;
}
.feed_post > textarea {
  font-size: 1.5rem;
  width: 95%;
  height: 300px;
}
.feed_post > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
}
.feed_post > div > button:nth-child(1) {
  appearance: button;
  backface-visibility: hidden;
  background-color: #5dc185;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(59, 93, 50, 0.1) 0 0 0 1px inset,
    rgba(55, 93, 50, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 30px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}
.feed_post > div > button:nth-child(1):disabled {
  cursor: default;
}
.feed_post > div > button:nth-child(1):focus {
  box-shadow: rgba(50, 93, 50, 0.1) 0 0 0 1px inset,
    rgba(52, 93, 50, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 211, 58, 0.3) 0 0 0 4px;
}
.feed_post > div > button:nth-child(2) {
  appearance: button;
  backface-visibility: hidden;
  background-color: crimson;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(93, 50, 50, 0.1) 0 0 0 1px inset,
    rgba(93, 50, 50, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 30px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  margin-left: 4%;
}
.feed_post > div > button:nth-child(2):disabled {
  cursor: default;
}
.feed_post > div > button:nth-child(2):focus {
  box-shadow: rgba(93, 50, 50, 0.1) 0 0 0 1px inset,
    rgba(93, 50, 50, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(211, 50, 50, 0.3) 0 0 0 4px;
}
.pf_hover {
  transition: 0.3s ease;
  cursor: pointer;
}
.pf_hover:hover {
  color: rgb(108, 108, 233);
}
.emoji {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
}
.emoji > ul {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 60%;
  margin-left: -5%;
}
.emoji > ul > li {
  text-align: center;
  font-size: 1.4rem;
  list-style: none;
  width: 20%;
  margin-left: 1%;
  padding: 0.5%;
  margin-right: 1%;
  border: 0.2px solid black;
  border-radius: 2px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  cursor: pointer;
}
.emoji_1 {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 40%;
}
.emoji_1 > img {
  width: 30px;
  height: 30px;
  margin-top: 6%;
  margin-right: 2%;
  cursor: pointer;
  z-index: 10001;
}
.emj_catg {
  position: absolute;
  width: 30%;
  right: 3%;
  z-index: 10000;
}
.emj_catg > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2%;
  margin-top: 15%;
  border: 2px solid black;
  background: #00c9ff;
  background: -webkit-linear-gradient(
    to right,
    #92fe9d,
    #00c9ff
  );
  background: linear-gradient(
    to right,
    #92fe9d,
    #00c9ff
  ); 
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.emj_catg > ul > li {
  cursor: pointer;
  list-style: none;
  font-size: 1.5rem;
  transition: 0.2s ease;
}
.emj_catg > ul > li:hover {
  transform: scale(1.4);
}
