@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.rg-wrapper {
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  box-shadow: 3px 3px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background:white;
  z-index:100000;
  position:absolute;
  border-radius: 5px;
}
.register {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.rg-img {
  width: 60%;
  height: 60%;
}
.rg-mainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rg-mainer > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.rg-mainer > div > h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.rg-mainer > div > h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: -5%;
}
.rg-mainer > div > h3 > a {
  color: #0e51ff;
  cursor: pointer;
  text-decoration: none;
}
.rg-sel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rg-sel > select {
  width: 62%;
  padding: 1%;
  font-size: 1.5rem;
  margin-right: 4%;
  margin-top: 2%;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  background: #f0a6a6;
  text-shadow: 1px 1px 1px black;
  color: white;
}
.rg-btn {
  border: none;
  background: #fa6185;
  color: white;
  width: 40%;
  font-size: 1.5rem;
  margin-left: 28%;
  margin-top: 2%;
  border-radius: 5px;
  transition: 0.6s ease;
  cursor: pointer;
  outline: none;
  text-shadow: 1px 1px 1px black;
}
.rg-btn:hover {
  box-shadow: 2px 2px 2px black;
}
