@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.rg-wrapper {
  min-height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:100000;
}
.register {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}
#rg_img_div {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 65%;
}
.rg_img {
  width: 100%;
}
.rg-mainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}
.rg-mainer > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.rg-mainer > div > h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.rg-mainer > div > h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: -5%;
}
.rg-mainer > div > h3 > a {
  color: #0e51ff;
  cursor: pointer;
  text-decoration: none;
}
.registerForm > input {
  background: transparent;
}
.rg-sel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rg-sel > select {
  width: 62%;
  padding: 1%;
  font-size: 1.5rem;
  margin-right: 4%;
  margin-top: 2%;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  background: #f0a6a6;
  text-shadow: 1px 1px 1px black;
  color: white;
}
.rg-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #fa6185;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  margin-left: 27%;
}
.rg-btn:disabled {
  cursor: default;
}
.rg-btn:focus {
  box-shadow: rgba(92, 50, 93, 0.1) 0 0 0 1px inset, rgba(93, 50, 77, 0.2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

@media (max-width: 800px) {
  #rg_img_div {
    display: none;
  }

  .rg-mainer > div > h1 {
    font-size: 2.2rem;
  }

  .rg-mainer > div > h3 {
    font-size: 1rem;
    text-align: center;
  }

  .registerForm {
    transform: scale(0.9);
  }
}

@media (max-width: 500px) {

  .rg-mainer > div > h1 {
    font-size: 2rem;
  }

  .rg-mainer > div > h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3%;
  }

  .registerForm {
    margin-top: 25%;
    transform: scale(1.2);
  }

  .registerForm > button {
    margin-top: 10%;
  }
}

