.deb_mainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.deb_main_title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.deb_main_title > h1{
    font-size: 3rem;
    margin-left: 5%;
}
.deb_main_title > div{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 10%;
}
.deb_main_title > div > img{
    width: 6%;
    cursor: pointer;
}
.deb_settings{
    width: 6%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}
.deb_settings > img {
    width: 100%;
    margin-top: 12%;
    cursor: pointer;
    margin-right: 2%;
    transition: 0.4s ease;
}
.deb_main_title > div > img:nth-child(2){
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5%;
    transition: 0.4s ease;
}
.deb_main_title > h1{
    font-size: 3rem;
    font-weight: 500;
}
.deb_main_grid{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 2%;
    margin: 2%;
    margin-bottom: 2%;
}
.deb_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    padding: 4%;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #3f75ff;
    color: white;
}
.deb_card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.deb_card_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.deb_card_1 > h1{
    font-size: 2rem;
    font-weight: 500;
}
.deb_card_1 > div{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    margin-top: -5%;
}
.deb_card_1 > div > h3{
    font-size: 1.4rem;
    font-weight: 300;
}
.deb_card > h2{
    font-size: 1.6rem;
    font-weight: 300;
}
.deb_main_list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 5%;
}
.deb_list{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    border-radius: 6px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease;
    background: #3f75ff;
    color: white;
}
.deb_list:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.deb_list > h1{
    font-size: 2rem;
    font-weight: 500;
}
.deb_list > h3{
    font-size: 1.5rem;
    font-weight: 300;
}
.deb_search{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    width: 100%;
}
.deb_search > input{
    width: 45%;
    font-size: 1.8rem;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid grey;
}
.settings_1{
    border: 2px solid black;
    position: absolute;
    top: 12%;
    right: 19%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background: whitesmoke;
    z-index: 10020301;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 15%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.settings_1 > h1{
    margin-top: -4%;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}
.settings_1_1, .settings_1_2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.settings_1_1 > h2, .settings_1_2 > h2{
    font-size: 1.3rem;
    font-weight: 300;
}
.settings_1_2 > div{
    display: flex;
    width: 100%;
    margin-top: -8%;
}
.checkBX{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.checkBX > h3{
    font-size: 1rem;
    font-weight: 400;
}
.deb_container {
    padding: 1%;
    padding-bottom: 15%;
    margin-bottom: 2%;
}


